@import "bootstrap";
@import "bootstrap-icons";

.travel-card {
  height: 250px;
  border: none;
  border-radius: 12px;
}

.card-overlay {
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  width: 100%;
}

.nav-logo {
  height: 60px;
}

h1,
.list-title,
h3 {
  font-family: "Narevik W08 Black";
}

.img-team {
  height: 450px;

  img {
    width: 100%;
  }
}

.active-link {
  color: #a4cb6a !important;
}